//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

/*
 * Miryoku QWERTY for Totem
 * Flattened for Keymap Editor
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV 1
#define MOUSE 2
#define MEDIA 3
#define NUM 4
#define SYM 5
#define FUN 6

/* Homerow Mods - Hold for Cmd/Alt/Ctrl/Shift */

#define HRM_L(key, mod) &mt mod key
#define HRM_R(key, mod) &mt mod key

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* * Layer 0: QWERTY Base
         * Thumbs: Left (Space/Nav), Right (Backspace/Sym)
         */

        default_layer {
            bindings = <
         &kp Q       &kp W       &kp E        &kp R        &kp T        &kp Y      &kp U        &kp I        &kp O       &kp P
         &hm LGUI A  &hm LALT S  &hm LCTRL D  &hm LSHFT F  &kp G        &kp H      &hm RSHFT J  &hm RCTRL K  &hm RALT L  &hm RGUI SEMI
&kp ESC  &kp Z       &kp X       &kp C        &kp V        &kp B        &kp N      &kp M        &kp COMMA    &kp DOT     &kp FSLH       &kp SQT
                                 &kp DEL      &lt 1 SPACE  &lt 5 TAB    &lt 2 RET  &lt 4 BSPC   &lt 3 ESC
            >;
        };

        /* * Layer 1: Navigation (Left Thumb Hold)
         * Arrows, Home, End, PageUp, PageDown
         */

        nav_layer {
            bindings = <
                  &none     &none     &none      &none      &none    &kp C_AC_REDO  &kp C_AC_COPY  &kp C_AC_PASTE  &kp C_AC_CUT  &kp C_AC_UNDO
                  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none    &kp LEFT       &kp DOWN       &kp UP          &kp RIGHT     &kp CAPSLOCK
&kp LEFT_CONTROL  &none     &none     &none      &none      &none    &kp HOME       &kp PG_DN      &kp PG_UP       &kp END       &kp INS        &none
                                      &none      &none      &none    &kp RET        &kp BSPC       &kp DEL
            >;
        };

        /* * Layer 2: Mouse (Left Thumb Inner Hold)
         * Requires ZMK Mouse enabled in config
         */
        /* * Layer 3: Media (Right Thumb Inner Hold)
         * Volume, Play/Pause, Next/Prev
         */

        media_layer {
            bindings = <
       &none     &none     &none      &none      &none    &none       &none         &none         &none         &none
       &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none    &none       &kp C_PREV    &kp C_VOL_DN  &kp C_VOL_UP  &kp C_NEXT
&none  &none     &none     &none      &none      &none    &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
                           &none      &none      &none    &kp C_PP    &kp C_MUTE    &none
            >;
        };

        /* * Layer 4: Numbers (Right Thumb Hold)
         * Numpad on the Left Hand
         */

        num_layer {
            bindings = <
       &kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT     &none  &none      &none      &none     &none
       &kp SEMI   &kp N4  &kp N5   &kp N6  &kp EQUAL    &none  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI
&none  &kp GRAVE  &kp N1  &kp N2   &kp N3  &kp BSLH     &none  &none      &none      &none     &none     &none
                          &kp DOT  &kp N0  &kp MINUS    &none  &none      &none
            >;
        };

        /* * Layer 5: Symbols (Right Thumb Hold)
         * Symbols on the Left Hand (!@#$%)
         */

        sym_layer {
            bindings = <
       &kp LBRC   &kp AMPS  &kp STAR   &kp LPAR   &kp RBRC     &none  &none      &none      &none     &none
       &kp COLON  &kp DLLR  &kp PRCNT  &kp CARET  &kp PLUS     &none  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI
&none  &kp TILDE  &kp EXCL  &kp AT     &kp HASH   &kp PIPE     &none  &none      &none      &none     &none     &none
                            &kp LPAR   &kp RPAR   &kp UNDER    &none  &none      &none
            >;
        };

        /* * Layer 6: Function Keys
         */

        fun_layer {
            bindings = <
       &kp F12  &kp F7  &kp F8     &kp F9     &kp PSCRN          &none  &none      &none      &none     &none
       &kp F11  &kp F4  &kp F5     &kp F6     &kp SLCK           &none  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI
&none  &kp F10  &kp F1  &kp F2     &kp F3     &kp PAUSE_BREAK    &none  &none      &none      &none     &none     &none
                        &kp K_APP  &kp SPACE  &kp TAB            &none  &none      &none
            >;
        };
    };
};
